*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(rgb(35, 70, 88), #162c37);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
}

image {
  display: block;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  padding: 10px;

  margin: 0 auto;
}

.loader {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 5px solid #0c9eb6;
    border-left: 5px solid transparent;
    border-radius: 50%;
    animation: spinner 0.6s linear infinite;
  }
  &::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 5px solid rgba(12, 158, 182, 0.25);
    border-radius: 50%;
  }
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    border: 5px solid #0c9eb6;
    border-left: 5px solid transparent;
  }
  50% {
    border: 5px solid rgb(60, 229, 255);
    border-left: 5px solid transparent;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
    border: 5px solid #0c9eb6;
    border-left: 5px solid transparent;
  }
}

.attribution {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fefefe;
  letter-spacing: 1px;
  margin: 20px 0;
  a {
    color: #0c9eb6;
    // text-decoration: none;
    &:hover {
      color: #1cc5df;
    }
  }
}

.notFound {
  width: 100%;
  height: 100%;
  color: #fefefe;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
