.MobileOverlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 17, 20, 0.9);
  z-index: 50;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
}

.open {
  animation: slide 0.4s linear forwards, visibleNow 0.2s ease 0.2s forwards;
}

@keyframes visibleNow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mobile-menu {
  color: navy;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;

  svg {
    margin-right: 5px;
    font-size: 24px;
  }

  ul {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto;
  }

  ul,
  li {
    list-style: none;
  }

  li {
    max-width: 200px;
    margin-top: 12px;
    border: 2px solid #567d8a;
    border-radius: 4px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      border: 2px solid #0c9eb6;

      a,
      span {
        color: #0c9eb6;
      }
    }
  }

  a,
  span {
    transition: all 0.4s ease;
    color: #fefefe;
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    padding: 16px;
    color: #567d8a;
    letter-spacing: 2px;
  }
}
