.search-info {
  position: relative;
  color: #fefefe;
  width: 100%;
  max-width: 500px;
  margin: 80px auto 20px auto;
  overflow-x: hidden;
  min-height: 100px;
  @include respond-to(medium) {
    max-width: 800px;
  }
}

.input-wrapper {
  width: 100%;
  display: block;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #0c9eb6;
    transition: transform 0.4s ease;
  }
}

.input-search {
  position: relative;
  border: none;
  background-color: rgba(12, 158, 182, 0.4);
  border: 2px solid rgba(12, 158, 182, 0.2);
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #fefefe;
  outline: none;

  &::placeholder {
    color: rgba(254, 254, 254, 0.7);
  }
}

.material-focus {
  &::after {
    transform: scaleX(1);
  }
}

.search-regional {
  user-select: none;
  margin: 10px 0;
  font-size: 0px;
  text-align: center;
  .region {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 4px;
    &:not(:first-child) {
      margin-left: 10px;
    }
    &:hover {
      background-color: #0c9eb6;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: rgba(12, 158, 182, 0.2);
    }
  }
}

.selected {
  background-color: #0c9eb6;
}

.search-results {
  position: relative;
  margin-top: 20px;
  display: block;
  width: 100%;
  min-height: 250px;
  // background-color: rgba(12, 158, 182, 0.2);
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
}

.search-row {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  background-color: rgba(12, 158, 182, 0.2);
  color: #fefefe;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  transition: background 0.4s ease, height 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: #2f8b99;
  }
  svg {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 18px;
    transform-origin: bottom;
  }
}

.search-row-desc {
  position: relative;
  min-height: 110px;
  font-size: 0;
  margin-top: 40px;
}

%search-row-ib {
  display: inline-block;
  vertical-align: middle;
  width: 49.99%;
  position: relative;
  height: 100%;
}

.search-row-desc-image {
  @extend %search-row-ib;
  canvas {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond-to(medium) {
      width: 140px;
      height: 140px;
    }
  }
}

.search-row-desc-text {
  @extend %search-row-ib;
  text-align: center;
  h2 {
    font-size: 75px;
    @include respond-to(medium) {
      font-size: 90px;
    }

    svg {
      display: none;
      @include respond-to(medium) {
        display: inline-block;
        font-size: 60px;
      }
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  svg {
    position: relative;
    margin-left: 5px;
  }
}

.mini-forecast {
  text-align: center;
  font-size: 0;
  margin-top: 30px;
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 10px;
    vertical-align: middle;
    p {
      font-weight: 500;
      font-size: 18px;
    }
    canvas {
      margin: 5px 0;
    }

    @include respond-to(medium) {
      margin: 0 25px;
    }
  }
}
